body {
  color: blue;
  background-color: black;
  font-family: Lato, Arial;
  text-align: center;
}

p {
  font-size:14pt;
}

li {
  padding-bottom: 10px;
  text-align: center;
  font-size:10pt;
}

h1 {
  color: white;
}

h2 {
  padding-top: 50px;
}

h2 {
  padding-top: 80px;
}

.verschieben {
   margin: 100px;
   font-size:20pt;
}
